/**
 * 边框长度变化 -- pageEffects/component/effect2
 */
.border2 {
	position: relative;
	border: 1px solid $border1;
	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 10%;
		height: 10%;
		transition: 0.3s ease-in-out;
	}
	&::before {
		top: -5px;
		left: -5px;
		border-top: 1px solid $border1;
		border-left: 1px solid $border1;
	}
	&::after {
		bottom: -5px;
		right: -5px;
		border-bottom: 1px solid $border1;
		border-right: 1px solid $border1;
	}
}
.border2-active {
	&::before,
	&::after {
		width: calc(100% + 9px);
		height: calc(100% + 9px);
	}
}

/**
 * 虚拟边框动画 -- pageEffects/component/effect3
 */
.border3 {
	outline: 1px solid #333;
	outline-offset: -1px;
	background:
		linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
		linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
		linear-gradient(0deg, #333 50%, transparent 0) repeat-y,
		linear-gradient(0deg, #333 50%, transparent 0) repeat-y;
	background-size: 4px 1px, 4px 1px, 1px 4px, 1px 4px;
	background-position: 0 0, 0 100%, 0 0, 100% 0;
}
.border3-active {
	outline: none;
	animation: linearGradientMove .3s infinite linear;
}
@keyframes linearGradientMove {
	100% {
		background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
	}
}

/**
 * 多色彩边框旋转动画 -- pageEffects/component/effect4
 */
.border4 {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	&::before {
		content: '';
		position: absolute;
		left: -50%;
		top: -50%;
		z-index: -2;
		width: 200%;
		height: 200%;
		animation: windmillRotate 4s linear infinite;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: 
			linear-gradient(#399953, #399953),
			linear-gradient(#fbb300, #fbb300),
			linear-gradient(#d53e33, #d53e33),
			linear-gradient(#377af5, #377af5);
	}
	&::after {
		content: '';
		position: absolute;
		left: 3px;
		top: 3px;
		z-index: -1;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		border-radius: 5px;
		background: #FFFFFF;
		animation: border4Opacity 4s infinite alternate;
	}
}
@keyframes windmillRotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes border4Opacity {
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/**
 * 扫描旋转动画 -- pageEffects/component/effect5
 */
.border5 {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	&::before {
		content: '';
		position: absolute;
		left: -50%;
		top: -50%;
		z-index: -2;
		width: 200%;
		height: 200%;
		animation: windmillRotate 3s linear infinite;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: 
			linear-gradient(#399953, #399953);
	}
	&::after {
		content: '';
		position: absolute;
		left: 3px;
		top: 3px;
		z-index: -1;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		border-radius: 5px;
		background: #FFFFFF;
		animation: border4Opacity 2s infinite alternate;
	}
}

/**
 * 扫描旋转动画2 -- pageEffects/component/effect6
 */
.border6 {
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	&::before {
		content: '';
		position: absolute;
		left: -50%;
		top: -50%;
		z-index: -2;
		width: 200%;
		height: 200%;
		background-color: #1a232a;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 30%);
		animation: windmillRotate 3s linear infinite;
	}
	&::after {
		content: '';
		position: absolute;
		left: 4px;
		top: 4px;
		z-index: -1;
		width: calc(100% - 8px);
		height: calc(100% - 8px);
		background: #fff;
		border-radius: 5px;
	}
}

/**
 * 扫描旋转动画3 -- pageEffects/component/effect7
 */
.border7 {
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	&::before {
		content: '';
		position: absolute;
		left: -50%;
		top: -50%;
		z-index: -2;
		width: 200%;
		height: 200%;
		background-color: #1a232a;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 30%);
		animation: windmillRotate 3s linear infinite;
	}
	&::after {
		content: '';
		position: absolute;
		left: 3px;
		top: 3px;
		z-index: -1;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		background: #000;
		border-radius: 5px;
		animation: border4Opacity 3s infinite alternate;
	}
}

/**
 * 旋转边框 -- pageEffects/component/effect8
 */
.border8 {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border: 2px solid #f00;
		transition: all .5s;
		animation: border8Clippath 3s infinite linear;
	}
}
/**
 * clip-path 剪切  inset 4个参数
 * 第一个  从上往下剪切  余留下面部分
 * 第二个  从右往左剪切  余留左面部分
 * 第三个  从下往上剪切  余留上面部分
 * 第四个  从左往右剪切  余留右面部分
 */
@keyframes border8Clippath {
	0%,
	100% {
		clip-path: inset(0 0 95% 0);
	}
	25% {
		clip-path: inset(0 0 0 95%);
	}
	50% {
		clip-path: inset(95% 0 0 0);
	}
	75% {
		clip-path: inset(0 95% 0 0);
	}
}

/**
 * 边框旋转2 -- pageEffects/component/effect9
 */
.border9 {
	position: relative;
	background: #f00;
	color: #fff;
	border-radius: 5px;
	&::before,
	&::after{
		content: '';
		position: absolute;
		top: -10px;
		left: -10px;
		bottom: -10px;
		right: -10px;
		border: 2px solid #f00;
		transition: all .5s;
		border-radius: 5px;
		animation: border9Clippath 3s infinite linear;
	}
	&::after{
		animation: border9Clippath 3s infinite -1.5s linear;
	}
}

@keyframes border9Clippath {
	0%,
	100% {
		clip-path: inset(0 0 98% 0);
	}
	25% {
		clip-path: inset(0 0 0 98%);
	}
	50% {
		clip-path: inset(98% 0 0 0);
	}
	75% {
		clip-path: inset(0 98% 0 0);
	}
}

/**
 * 边框渐变 -- pageEffects/component/effect10
 */
.border10 {
	position: relative;
	overflow: hidden;
	&::after {
		content: '按钮';
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 4px;
		bottom: 4px;
		left: 4px;
		right: 4px;
		background: #FFF;
		border: 2px solid #9acd32;
		font-size: 12px;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: -20px;
		background: #fff;
		transform: rotate(-90deg) translate(-100%, -100%);
		transform-origin: top left;
		transition: transform .3s;
		transition-timing-function: linear;
	}
}
.border10-active {
	filter: contrast(1.2);
	&::before {
		transform: rotateZ(0deg) translate(0%, -0%);
	}
}

/**
 * 边框背景1 -- pageEffects/component/effect11
 */
.border11 {
	position: relative;
	border: 21px solid;
	border-image: url(../static/bg.png) 21 round;
}

/**
 * 边框背景2 -- pageEffects/component/effect12
 */
.border12 {
	position: relative;
	border: 24px solid;
	border-image: url(../static/bg.svg) 32 round;
}

